:root {
  --main-font-family: "Roboto Condensed", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --main-color: #1ab2a8;
  --secondary-color: #bdf1ec;
}
h1 {
  font-family: var(--main-font-family);
  text-align: center;
  padding-top: 30px;
  font-size: 80px !important;
  color: var(--main-color);
}
h2 {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 30px !important;
}
h6 {
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-size: 15px !important;
}
img {
  border-radius: 500px;
  border: 3px solid #1ab2a8;
  box-shadow: 10px 5px 5px #636363;
}
.hero {
  background-color: var(--secondary-color);
  margin: 100px auto 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero a {
  font-family: var(--main-font-family);
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  border: 5px solid var(--main-color);
  border-radius: 4px;
  max-width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--main-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 6);
}
.hero a:hover {
  color: var(--main-color);
  background-color: white;
}
.primary-link {
  background: var(--main-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  margin-right: 200px;
  margin: 20px;
  margin-bottom: 100px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.primary-link:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
}
.col-md-4 {
  text-align: center;
  margin-bottom: 80px;
}
.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  background-color: var(--main-color);
}
.icon {
  color: var(--secondary-color);
}
.icon:hover {
  color: var(--main-color);
  background-color: white;
}
.photogrid {
  margin: 0 auto;
}
.aboutInfo {
  background-color: #e4f7f7;
  max-width: 800px;
  margin: 0 auto;
}
